{% extends 'layout.html.twig' %}

{% block content %}
<section class="header-8-sub bg-midnight-blue" style="min-height:450px;">
  <div class="background">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h3>Тренинг <b>ПроРеальность</b></h3>
        <p class="lead">Создан для того, чтобы качественно изменить уровень твоей жизни.</p>
        <div style="height:100px;"></div>
      </div>
    </div>
  </div>
</section>

<!-- content-10 -->
<section class="content-10">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Глубокие результаты в наиболее важных для тебя областях</h3>
        <p>Будь то близкие отношения, бизнес, личная эффективность, самореализация, способность менять окружающий мир к лучшему... И со временем эти результаты будут только увеличиваться.</p>
        <div class="features">
          <div class="box">
            <img src="{{ 'common-files/icons/banner@2x.png' | asset_url }}" width="100" height="100" alt="">
            <h6>Почувствуй свободу</h6>
            <p>Свободу с лёгкостью справляться с любыми обстоятельствами.
            </p>
          </div>
          <div class="box">
            <img src="{{ 'common-files/icons/bulb@2x.png' | asset_url }}" width="100" height="100" alt="">
            <h6>Создай эффективность</h6>
            <p>Небывалую эффективность в действительно важных для тебя областях.</p>
          </div>
          <div class="box">
            <img src="{{ 'common-files/icons/goal@2x.png' | asset_url }}" width="100" height="100" alt="">
            <h6>Открой силу</h6>
            <p>Удивительную силу получать по-настоящему ценные результаты в своей жизни.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <img src="http://prorealnost.local.ic/uploads/prorealnost/prorealnost_aeroplan.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<!-- content-5 -->
<section class="content-5" style="border-top: 2px solid #EBEDEE; padding-bottom: 0;">
  <div class="container">
    <img src="{{ 'common-files/icons/magic-wand@2x.png' | asset_url }}" width="200" height="200" alt="">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>Что даст тренинг лично тебе</h3>
        <p class="lead">
          <br/>
          Есть множество преимуществ, которые люди получают от этого тренинга.
          <br/><br/>
          Ты получишь свой уникальный результат, но есть пять общих моментов, о которых говорит почти каждый выпускник:
        </p>
      </div>
    </div>
  </div>
</section>

<!-- content-3 -->
<section class="content-3 a" style="padding-top: 0;">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 aligment">
          <h3>1. Рост качества отношений</h3>
          <p>Ты чувствуешь свою глубинную целостность и пьянящую свободу быть собой. Даже когда есть проблема, ты точно знаешь: всё можно решить.</p>
          <p>Ты чувствуешь удивительную лёгкость вне зависимости от того, где ты, с кем и каковы сопутствующие обстоятельства.</p>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
          <div class="quote">
            <p>
              Я наконец-то помирилась с папой
            </p>
          </div>
          <div class="quote">
            <p>
              Сотрудники на работе начали меня понимать
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 aligment">
          <h3>2. Повышение собственной продуктивности и эффективности</h3>
          <p>Это может касаться твоей работы, финансов или тех целей, которые ты достигаешь. Появляется больше времени на то, что действительно имеет для тебя значение.</p>
          <p>Ты увидишь, что многие из твоих ограничений установлены тобой и основываются на решениях из прошлого, скрытых от твоего взгляда. Это понимание даст тебе доступ к новому уровню твоей собственной эффективности.
          </p>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
          <div class="quote">
            <p>
              Уже через два месяца после тренинга я повысил оборот своего бизнеса втрое
            </p>
          </div>
          <div class="quote">
            <p>
              Я стал меньше работать и больше зарабатывать
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 aligment">
          <h3>3. Новая степень уверенности</h3>
          <p>У каждого из нас существуют области жизни, в которых мы чувствуем себя по-настоящему уверенно. Но есть и другие сферы, где мы сомневаемся, медлим и бываем нерешительны.</p>
          <p>Только представь, что ты входишь в ситуации, где раньше чувствовал себя связанным и ограниченным, с уверенностью и готовностью действовать — несмотря на все свои сомнения, даже несмотря на свой страх!
          </p>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
          <div class="quote">
            <p>
              Даже самые сложные решения я принимаю теперь легко
            </p>
          </div>
          <div class="quote">
            <p>
              Я делаю то, на что раньше никогда бы не решился
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 aligment">
          <h3>4. Способность делать правильный выбор и заниматься тем, что действительно важно</h3>
          <p>Ты станешь относиться к выбору совершенно по-новому — и это подарит тебе свободу создавать что-то новое и следовать за тем, что по-настоящему важно для тебя.
          </p>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
          <div class="quote">
            <p>
              Для меня перестали существовать любые препятствия — я точно знаю, куда иду
            </p>
          </div>
          <div class="quote">
            <p>
              Я получил тот самый «волшебный пинок», который так долго ждал
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 aligment">
          <h3>5. Насыщенность и наполненность жизни</h3>
          <p>Наполнять свою жизнь действительно важными вещами. Действовать страстно, в соединении со своими желаниями и со своей энергией. Это даёт возможность жить без сожалений, проявляя себя полностью.
          </p>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
          <div class="quote">
            <p>
              Этот тренинг — одно из самых важных событий моей жизни
            </p>
          </div>
          <div class="quote">
            <p>
              Моя жизнь разделилась на «до» и «после»
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content-more">
  <div class="container">
    <a class="btn btn-large btn-primary btn-clear" href="{{ path('front_page_show', { 'slug': 'learnmore' }) }}">Узнать больше</a>
  </div>
  <div class="divider">&nbsp;</div>
</section>

<section class="contacts-1" style="background: #f8f8f8; border-top: solid 2px #EBEDEE;">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h3>Запишись на бесплатную тренировку</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <form action="{{ 152 | product_order_url }}" method="POST">
          <div class="form-group">
            <label class="h6">Имя / Фамилия</label>
            <input name="name" type="text" required class="form-control">
          </div>
          <div class="form-group">
            <label class="h6">Телефон</label>
            <input name="phone" type="text" required class="form-control">
          </div>
          <div class="form-group">
            <label class="h6">E-mail</label>
            <input name="email" type="email" required class="form-control">
          </div>
          <div class="form-group">
            <label class="h6">Город</label>
            <input name="city" type="text" required class="form-control">
          </div>
          <button type="submit" class="btn btn-primary"><span class="fui-mail"></span>
          </button>
        </form>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <div class="additional">
          <h6>Что такое бесплатная тренировка?</h6>
          <p>— Один из наших экспертов встретится с тобой лично или в скайпе;</p>
          <p>— Вы сделаете пару полезных упражнений;</p>
          <p>— Ты определишь, как тренинг поможет лично тебе;</p>
          <p>— Ты узнаешь все подробности о тренинге и получишь ответы на любые вопросы;</p>
          <p>— Ты примешь решение пойти на тренинг.</p>
        </div>
        <div class="additional">
          <h6>Другие вопросы</h6>
          <p>По всем другим вопросам, кроме личных тренировок, пиши в любое время на <a href="mailto:support@prorealnost.com">support@prorealnost.com</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block stylesheets %}
<style>
.content-3 .container {
  margin-top: 120px;
}
.content-3.a .quote {
  padding-left: 10px;
}
.content-3.a .quote p {
  font-size: 20px;
  font-weight: 300;
  color: #2c3e50;
}
.content-3.a .quote:before {
  content: '';
  background: url("{{ 'common-files/icons/quote-up-mb@2x.png' | asset_url }}") no-repeat;
  -webkit-background-size: 16px 10px;
  -moz-background-size: 16px 10px;
  -o-background-size: 16px 10px;
  background-size: 16px 10px;
  position: absolute;
  width: 16px;
  height: 10px;
  top: 10px;
  left: 0px;
}
</style>
<style type="text/css">
.content-more .divider {
  margin-bottom: 50px;
}

.content-more .btn.btn-clear {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  border: 2px solid #34495e;
  font-size: 14px;
  font-weight: normal;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 12px 28px 12px;
  color: #34495e;
}
.content-more .btn.btn-clear:hover,
.content-more .btn.btn-clear:focus {
  background: #34495e;
  color: #fff;
}
.content-more .btn.btn-clear:active,
.content-more .btn.btn-clear.active {
  border-color: #415b76;
  background: #415b76;
  color: rgba(255, 255, 255, 0.75);
}
</style>
{% endblock %}