<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ПроРеальность</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="shortcut icon" href="{{ 'img/favicon.ico' | asset_url }}">
    <link rel="stylesheet" href="{{ 'flat-ui/bootstrap/css/bootstrap.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'flat-ui/css/flat-ui.css' | asset_url }}">
    <!-- Using only with Flat-UI (free)-->
    <link rel="stylesheet" href="{{ 'common-files/css/icon-font.css' | asset_url }}">
    <!-- end -->
    <link rel="stylesheet" href="{{ 'common-files/css/animations.css' | asset_url }}">

    <link rel="stylesheet" href="{{ 'ui-kit/ui-kit-blog/css/ui-kit-styles.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'ui-kit/ui-kit-contacts/css/ui-kit-styles.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'ui-kit/ui-kit-content/css/ui-kit-styles.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'ui-kit/ui-kit-crew/css/ui-kit-styles.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'ui-kit/ui-kit-footer/css/ui-kit-styles.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'ui-kit/ui-kit-header/css/ui-kit-styles.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'ui-kit/ui-kit-price/css/ui-kit-styles.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'ui-kit/ui-kit-projects/css/ui-kit-styles.css' | asset_url }}">

    <style type="text/css">
      body {
        padding-top: 0;
      }
      /* flex video */
      .flex-video {
        position: relative;
        padding-top: 25px;
        padding-bottom: 67.5%;
        height: 0;
        margin-bottom: 16px;
        overflow: hidden;
        }
       
      .flex-video.widescreen { padding-bottom: 57.25%; }
      .flex-video.vimeo { padding-top: 0; }
       
      .flex-video iframe,
      .flex-video object,
      .flex-video embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      @media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
        .flex-video { padding-top: 0; }
      }
    </style>
    <script src="{{ 'common-files/js/jquery-1.10.2.min.js' | asset_url }}"></script>
  </head>
  <body>
    <header class="header-8">
      <div class="container">
        <div class="row">
          <div class="navbar col-sm-12" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle"></button>
              <a class="brand" href="index.html#">
                <img src="http://prorealnost.local.ic/uploads/prorealnost/textlogo-standing-transparent.png" style="margin-top:0; width:255px; height:41px;" alt=""></a>
            </div>
          </div>
        </div>
      </div>
      <div class="header-background"></div>
    </header>

    {% block content %}
<section class="header-8-sub bg-midnight-blue" style="min-height:450px;">
  <div class="background">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h3>Тренинг <b>ПроРеальность</b></h3>
        <p class="lead">Создан для того, чтобы качественно изменить уровень твоей жизни.</p>
        <div style="height:100px;"></div>
      </div>
    </div>
  </div>
</section>

<!-- content-10 -->
      <section class="content-10">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <h3>Глубокие результаты в наиболее важных для тебя областях</h3>
              <p>Будь то близкие отношения, бизнес, личная эффективность, самореализация, способность менять окружающий мир к лучшему... И со временем эти результаты будут только увеличиваться.</p>
              <div class="features">
                <div class="box">
                  <img src="{{ 'common-files/icons/banner@2x.png' | asset_url }}" width="100" height="100" alt="">
                  <h6>Почувствуй свободу</h6>
                  <p>Свободу с лёгкостью справляться с любыми обстоятельствами.
                  </p>
                </div>
                <div class="box">
                  <img src="{{ 'common-files/icons/bulb@2x.png' | asset_url }}" width="100" height="100" alt="">
                  <h6>Создай эффективность</h6>
                  <p>Небывалую эффективность в действительно важных для тебя областях.</p>
                </div>
                <div class="box">
                  <img src="{{ 'common-files/icons/goal@2x.png' | asset_url }}" width="100" height="100" alt="">
                  <h6>Открой силу</h6>
                  <p>Удивительную силу получать по-настоящему ценные результаты в своей жизни.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 text-center">
              <img src="http://prorealnost.local.ic/uploads/prorealnost/prorealnost_aeroplan.jpg" alt="">
            </div>
          </div>
        </div>
      </section>

<!-- content-5 -->
<section class="content-5" style="border-top: 2px solid #EBEDEE; padding-bottom: 0;">
  <div class="container">
    <img src="{{ 'common-files/icons/magic-wand@2x.png' | asset_url }}" width="200" height="200" alt="">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>Что даст тренинг лично тебе</h3>
        <p class="lead">
          <br/>
          Есть множество преимуществ, которые люди получают от этого тренинга.
          <br/><br/>
          Ты получишь свой уникальный результат, но есть пять общих моментов, о которых говорит почти каждый выпускник:
        </p>
      </div>
    </div>
  </div>
</section>

<style>
.content-3 .container {
  margin-top: 120px;
}
.content-3.a .quote {
  padding-left: 10px;
}
.content-3.a .quote p {
  font-size: 20px;
  font-weight: 300;
  color: #2c3e50;
}
.content-3.a .quote:before {
  content: '';
  background: url("{{ 'common-files/icons/quote-up-mb@2x.png' | asset_url }}") no-repeat;
  -webkit-background-size: 16px 10px;
  -moz-background-size: 16px 10px;
  -o-background-size: 16px 10px;
  background-size: 16px 10px;
  position: absolute;
  width: 16px;
  height: 10px;
  top: 10px;
  left: 0px;
}
</style>
<!-- content-3 -->
<section class="content-3 a" style="padding-top: 0;">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 aligment">
          <h3>1. Рост качества отношений</h3>
          <p>Ты чувствуешь свою глубинную целостность и пьянящую свободу быть собой. Даже когда есть проблема, ты точно знаешь: всё можно решить.</p>
          <p>Ты чувствуешь удивительную лёгкость вне зависимости от того, где ты, с кем и каковы сопутствующие обстоятельства.</p>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
          <div class="quote">
            <p>
              Я наконец-то помирилась с папой
            </p>
          </div>
          <div class="quote">
            <p>
              Сотрудники на работе начали меня понимать
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 aligment">
          <h3>2. Повышение собственной продуктивности и эффективности</h3>
          <p>Это может касаться твоей работы, финансов или тех целей, которые ты достигаешь. Появляется больше времени на то, что действительно имеет для тебя значение.</p>
          <p>Ты увидишь, что многие из твоих ограничений установлены тобой и основываются на решениях из прошлого, скрытых от твоего взгляда. Это понимание даст тебе доступ к новому уровню твоей собственной эффективности.
          </p>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
          <div class="quote">
            <p>
              Уже через два месяца после тренинга я повысил оборот своего бизнеса втрое
            </p>
          </div>
          <div class="quote">
            <p>
              Я стал меньше работать и больше зарабатывать
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 aligment">
          <h3>3. Новая степень уверенности</h3>
          <p>У каждого из нас существуют области жизни, в которых мы чувствуем себя по-настоящему уверенно. Но есть и другие сферы, где мы сомневаемся, медлим и бываем нерешительны.</p>
          <p>Только представь, что ты входишь в ситуации, где раньше чувствовал себя связанным и ограниченным, с уверенностью и готовностью действовать — несмотря на все свои сомнения, даже несмотря на свой страх!
          </p>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
          <div class="quote">
            <p>
              Даже самые сложные решения я принимаю теперь легко
            </p>
          </div>
          <div class="quote">
            <p>
              Я делаю то, на что раньше никогда бы не решился
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 aligment">
          <h3>4. Способность делать правильный выбор и заниматься тем, что действительно важно</h3>
          <p>Ты станешь относиться к выбору совершенно по-новому — и это подарит тебе свободу создавать что-то новое и следовать за тем, что по-настоящему важно для тебя.
          </p>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
          <div class="quote">
            <p>
              Для меня перестали существовать любые препятствия — я точно знаю, куда иду
            </p>
          </div>
          <div class="quote">
            <p>
              Я получил тот самый «волшебный пинок», который так долго ждал
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 aligment">
          <h3>5. Насыщенность и наполненность жизни</h3>
          <p>Наполнять свою жизнь действительно важными вещами. Действовать страстно, в соединении со своими желаниями и со своей энергией. Это даёт возможность жить без сожалений, проявляя себя полностью.
          </p>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
          <div class="quote">
            <p>
              Этот тренинг — одно из самых важных событий моей жизни
            </p>
          </div>
          <div class="quote">
            <p>
              Моя жизнь разделилась на «до» и «после»
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style type="text/css">
  .content-more .divider {
    margin-bottom: 50px;
  }

  .content-more .btn.btn-clear {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
    border: 2px solid #34495e;
    font-size: 14px;
    font-weight: normal;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 12px 28px 12px;
    color: #34495e;
  }
  .content-more .btn.btn-clear:hover,
  .content-more .btn.btn-clear:focus {
    background: #34495e;
    color: #fff;
  }
  .content-more .btn.btn-clear:active,
  .content-more .btn.btn-clear.active {
    border-color: #415b76;
    background: #415b76;
    color: rgba(255, 255, 255, 0.75);
  }
</style>
<section class="content-more">
  <div class="container">
    <a class="btn btn-large btn-primary btn-clear" href="index.html#">Узнать больше</a>
  </div>
  <div class="divider">&nbsp;</div>
</section>

<section class="contacts-1" style="background: #f8f8f8; border-top: solid 2px #EBEDEE;">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h3>Запишись на бесплатную тренировку</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <form action="{{ 1 | order_product_url }}" method="POST">
          <div class="form-group">
            <label class="h6">Имя / Фамилия</label>
            <input name="name" type="text" required class="form-control">
          </div>
          <div class="form-group">
            <label class="h6">Телефон</label>
            <input name="phone" type="text" required class="form-control">
          </div>
          <div class="form-group">
            <label class="h6">E-mail</label>
            <input name="email" type="email" required class="form-control">
          </div>
          <div class="form-group">
            <label class="h6">Город</label>
            <input name="city" type="text" required class="form-control">
          </div>
          <button type="submit" class="btn btn-primary"><span class="fui-mail"></span>
          </button>
        </form>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <div class="additional">
          <h6>Что такое бесплатная тренировка?</h6>
          <p>— Один из наших экспертов встретится с тобой лично или в скайпе;</p>
          <p>— Вы сделаете пару полезных упражнений;</p>
          <p>— Ты определишь, как тренинг поможет лично тебе;</p>
          <p>— Ты узнаешь все подробности о тренинге и получишь ответы на любые вопросы;</p>
          <p>— Ты примешь решение пойти на тренинг.</p>
        </div>
        <div class="additional">
          <h6>Другие вопросы</h6>
          <p>По всем другим вопросам, кроме личных тренировок, пиши в любое время на <a href="mailto:support@prorealnost.com">support@prorealnost.com</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>

    {% endblock %}

    <footer class="footer-1 bg-midnight-blue">
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <p class="lead"><b>Ты</b> можешь больше</p>
            <p><em>«Это было одно из самых важных переживаний в жизни»</em></p>
            <p><em>«Вся жизнь разделилась на до и после»</em></p>
            <p><em>«Я никогда не буду таким как прежде»</em></p>
          </div>
          <nav>
            <div class="col-sm-2 col-sm-offset-1">
              <h6>Категории</h6>
              <ul>
                <li><a href="index.html#">О нас</a>
                </li>
                <li><a href="index.html#">Блог</a>
                </li>
                <li><a href="index.html#">Команда</a>
                </li>
                <li><a href="index.html#">Работа</a>
                </li>
                <li><a href="index.html#">Контакты</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-2">
              <h6>Следуй за нами</h6>
              <ul>
                <li><a href="index.html#">Facebook</a>
                </li>
                <li><a href="index.html#">Twitter</a>
                </li>
                <li><a href="index.html#">Instagram</a>
                </li>
              </ul>
            </div>
          </nav>
          <div class="col-sm-2 buy-btn">
            <a class="btn btn-danger btn-block" href="index.html#">Запишись</a>
            или <a href="index.html#">Узнай Больше</a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5 additional-links">
            <a href="index.html#">Оферта</a>
            <a href="index.html#">Политика конфиденциальности</a>
          </div>
        </div>
      </div>
    </footer>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ 'flat-ui/js/bootstrap.min.js' | asset_url }}"></script>
    <script src="{{ 'common-files/js/modernizr.custom.js' | asset_url }}"></script>
    <script src="{{ 'common-files/js/page-transitions.js' | asset_url }}"></script>
    <script src="{{ 'common-files/js/jquery.backgroundvideo.min.js' | asset_url }}"></script>
    <script src="{{ 'common-files/js/froogaloop.min.js' | asset_url }}"></script>
    <script src="{{ 'common-files/js/jquery.scrollTo-1.4.3.1-min.js' | asset_url }}"></script>
    <script src="{{ 'common-files/js/jquery.sharrre.min.js' | asset_url }}"></script>
    <script src="{{ 'common-files/js/startup-kit.js' | asset_url }}"></script>
    <script src="{{ 'site/jquery-validation-1.13.0/jquery.validate.min.js' | asset_url }}"></script>
    <script type="text/javascript">
        $.validator.setDefaults({
            highlight: function(element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function(element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function(error, element) {
                if(element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    </script>
  </body>
</html>